Repository tidyverse/ggplot2, pull requests merged in 2023-12, with the labels that each got.

#5496 Custom guide
  DESCRIPTION
  NAMESPACE
  NEWS.md
  R/guide-custom.R
  R/guides-.R
  R/plot-build.R
  _pkgdown.yml
  man/ggplot2-ggproto.Rd
  man/guide_custom.Rd
Labels: guides :straight_ruler:

#5473 Stacked axes
  DESCRIPTION
  NAMESPACE
  NEWS.md
  R/guide-axis-stack.R
  R/guide-axis-theta.R
  _pkgdown.yml
  man/ggplot2-ggproto.Rd
  man/guide_axis_stack.Rd
  tests/testthat/_snaps/guides/stacked-axes.svg
  tests/testthat/_snaps/guides/stacked-radial-axes.svg
  tests/testthat/test-guides.R
Labels: guides :straight_ruler:

#5299 Barebones support for `<GridPattern>` fills.
  DESCRIPTION
  NAMESPACE
  NEWS.md
  R/backports.R
  R/geom-.R
  R/geom-boxplot.R
  R/geom-dotplot.R
  R/geom-hex.R
  R/geom-label.R
  R/geom-map.R
  R/geom-point.R
  R/geom-polygon.R
  R/geom-raster.R
  R/geom-rect.R
  R/geom-ribbon.R
  R/geom-tile.R
  R/legend-draw.R
  R/utilities-patterns.R
  man/fill_alpha.Rd
  man/geom_tile.Rd
  man/pattern_alpha.Rd
  tests/testthat/_snaps/geom-raster.md
  tests/testthat/_snaps/patterns.md
  tests/testthat/_snaps/patterns/pattern-fills-no-alpha.svg
  tests/testthat/_snaps/patterns/pattern-fills-through-scale.svg
  tests/testthat/_snaps/patterns/pattern-fills-with-alpha.svg
  tests/testthat/_snaps/patterns/single-pattern-fill.svg
  tests/testthat/test-geom-raster.R
  tests/testthat/test-patterns.R
Labels: feature, layers :chart_with_upwards_trend:

#5488 Arbitrary positions for guides
  R/guide-bins.R
  R/guide-colorbar.R
  R/guide-custom.R
  R/guide-legend.R
  R/guides-.R
  R/plot-build.R
  R/theme-elements.R
  R/theme.R
  man/guide_bins.Rd
  man/guide_colourbar.Rd
  man/guide_coloursteps.Rd
  man/guide_custom.Rd
  man/guide_legend.Rd
  man/theme.Rd
  tests/testthat/_snaps/theme/legends-at-all-sides-with-justification.svg
  tests/testthat/test-facet-strips.R
  tests/testthat/test-guides.R
  tests/testthat/test-theme.R
Labels: guides :straight_ruler:

#5515 Stretching legends
  R/backports.R
  R/guide-colorbar.R
  R/guide-legend.R
  R/guides-.R
  man/guide_bins.Rd
  man/guide_colourbar.Rd
  man/guide_coloursteps.Rd
  man/guide_legend.Rd
  tests/testthat/_snaps/theme/stretched-horizontal-legends.svg
  tests/testthat/_snaps/theme/stretched-vertical-legends.svg
  tests/testthat/test-theme.R
Labels: guides :straight_ruler:

#5446 Add a minor note about the difference of the unit of size to FAQ
  vignettes/articles/faq-customising.Rmd
Labels: documentation
